/* Define CSS custom properties (variables) */
:root {
    --color-white: #ffffff; /* Define a custom property for the color white */
  }
  
  /* Import the Poppins font from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  /* Apply a border-box sizing model to all elements */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margins from all elements */
  * {
    margin: 0;
  }
  
  /* Set the height of the html and body elements to 100% */
  html,
  body {
    height: 100%;
  }
  
  /* Set line height and font smoothing for the body */
  body {
    line-height: 1.5; /* Set the line height for better readability */
    -webkit-font-smoothing: antialiased; /* Smooth fonts on webkit browsers */
  }
  
  /* Ensure media elements do not exceed their container's width */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block; /* Remove any extra space below images */
    max-width: 100%; /* Ensure images are responsive */
  }
  
  /* Inherit font styles for form elements */
  input,
  button,
  textarea,
  select {
    font: inherit; /* Use the same font as the parent element */
  }
  
  /* Ensure text elements wrap properly */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word; /* Break long words if necessary */
  }
  
  /* Isolate the root and next elements to prevent style leakage */
  #root,
  #__next {
    isolation: isolate; /* Create a new stacking context */
  }
  
  /* Custom styles for Swiper pagination */
  .swiper-pagination {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the pagination bullets */
    gap: 12px; /* Add space between bullets */
    margin-top: 28px; /* Add margin at the top */
    padding-bottom: 5px; /* Add padding at the bottom */
  }
  
  .swiper-pagination-bullet {
    height: 10px; /* Set the height of the bullet */
    width: 10px; /* Set the width of the bullet */
    background: #BCD8E9; /* Set the background color of the bullet */
    border-radius: 50%; /* Make the bullet circular */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #2AA7FF; /* Set the background color of the active bullet */
    outline: 1px solid #2AA7FF; /* Add an outline to the active bullet */
    outline-offset: 4px; /* Offset the outline */
  }
  